<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.mapper.UserMapper">
    <select id="queryList" resultType="com.liang.pojo.User">
        select * from user;
    </select>

    <insert id="addUser" parameterType="com.liang.pojo.User">
        insert into user(id,name,pwd) values(#{id},#{name},#{pwd});
    </insert>

    <update id="updateUser" parameterType="com.liang.pojo.User">
        update user set name=${name} where id=${id};
    </update>
    <delete id="deleteUser" parameterType="int">
        deletes from user where id=#{id}
    </delete>
</mapper>