<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.liang.pojo.Addres">
        <property name="address" value="北京"></property>
    </bean>

    <bean id="student" class="com.liang.pojo.Student">
        <!--普通值注入-->
        <property name="name" value="张三丰"></property>
        <!--bean注入,ref-->
        <property name="address" ref="address"></property>

        <!--数组注入，ref-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>

        <!--list-->
        <property name="hobbys">
            <list>
                <value>足球</value>
                <value>看电影</value>
            </list>
        </property>

        <!--map-->
        <property name="card">
            <map>
                <entry key="身份证" value="11000000000000"></entry>
                <entry key="银行卡" value="999988885555"></entry>
            </map>
        </property>

        <!--set-->
        <property name="games">
            <set>
                <value>LoL</value>
                <value>BoB</value>
                <value>CoC</value>
            </set>
        </property>

        <!--null-->
        <property name="wife">
            <null></null>
        </property>

        <!--Properties-->
        <property name="info">
            <props>
                <prop key="driver">1102</prop>
                <prop key="url">男</prop>
                <prop key="userName">root</prop>
                <prop key="passWord">123456</prop>
            </props>
        </property>

    </bean>


</beans>